/* ---FONT-SETTING--- */
$font-main-size: 16px;
$font-stack: 'Poppins', Tahoma, Geneva, Verdana, sans-serif;

*{
    font-size: $font-main-size;
    font-family: $font-stack;
}
$font-size: (
    "r05" : 0.5rem,
    "r10" : 1.0rem,
    "r15" : 1.5rem,
    "r20" : 2.0rem,
    "r25" : 2.5rem,
    "r30" : 3.0rem,
    "r35" : 3.5rem,
    "r40" : 4.0rem,
    "r45" : 4.5rem,
    "r50" : 5.0rem,
    "r60" : 6.0rem,
    "r70" : 7.0rem,
);


$font-weights: (
    "weights-1" : 100,
    "weights-2" : 200,
    "weights-3" : 300,
    "weights-4" : 400,
    "weights-5" : 500,
    "weights-6" : 600,
    "weights-7" : 700,
    "weights-8" : 800,
    "weights-9" : 900,
);

/* ---COLOR-SETTING--- */

$color-basic: (
    "cwhite" : white,
    "cblack" : black,
    "cgray" : gray,
);

$color-main: (
    "burger" : #DE8D42,
    "cgray4" : #444,
    "cgray5" : #555,
    "btn-hover-color" : #16a083,
    "form-border-color" : #ddd,
    "box-shadow" : #aaa,
);

$color-background: (
    "main" : #f5f5f7,
    "menu" : #333,
    "contact" : #e2e2e2,
    "footer" : #2b2b2b,
);

/* ---TRANSFORM-SETTING--- */

$transform: (
    "scale1" : 1.1,
    "scale2" : 1.2,
    "scale3" : 0.9,
);

/* ---MEDIA-SETTING--- */
$Small: 540px;
@mixin Small {
    @media (min-width: $Small ) {
        @content
    }
}
$Medium: 768px;
@mixin Medium {
    @media (min-width: $Medium ) {
        @content
    }
}
$Large: 992px;
@mixin Large {
    @media (min-width: $Large ) {
        @content
    }
}
$Extra-large: 1200px;
@mixin Extra-large {
    @media (min-width: $Extra-large ) {
        @content
    }
}
$XXL-large: 1440px;
@mixin XXL-large {
    @media (min-width: $XXL-large ) {
        @content
    }
}
$XXXL-large: 1650px;
@mixin XXXL-large {
    @media (min-width: $XXXL-large ) {
        @content
    }
}

$nav-menu: 768px;
@mixin nav {
    @media (max-width: $nav-menu ) {
        @content
    }
}
